.sideBar{
    width: 230px;
    border-right: 1px solid #242424;
    padding-top: 2em;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1em;
}
.menuList{
    display: flex;
    flex-direction: column;
}

.menuTitle{
    padding-left: 2rem;
}

@media screen and (max-width:1400px) {
    .sideBar{
       display: none;
    }
}
