.container {
  display: flex;
  width: 1200px;
  margin: auto;
  position: relative;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.imageWrapper {
  box-sizing: content-box;
  width: 100px;
  height: 100px;
}

.imageWrapper>span {
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media (max-width: 768px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }


  .chapterWideItem {
    min-width: 61px;
    max-width: 61px;
  }

  .chapterImageContainer {
    height: inherit;
  }

  .imgRounded {
    height: 61px;
    padding: 4px;
  }

}